@import "styles/tools/normalize";

@import "styles/base/vars";
@import "styles/base/typography";

@import "styles/layout/header";
// @import "styles/layout/footer";
@import "styles/layout/flex_photo_grid";

// @import "styles/pages/about";
// @import "styles/pages/work";
// @import "styles/pages/photography";
// @import "styles/pages/contact";




*{ box-sizing: border-box; }
*::after,*::before{ box-sizing: border-box; }

body	{ 
	margin: 0;
	color: #555; 
	width: 95%;
	margin: 0 auto;
	font: 400 100%/1.4 'Open Sans',sans-serif;
}
