#site_header {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	// min-height: 50px;
	// margin: 0 auto;
}
	

.title {
	// align-self:flex-start;
	color: $dark;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
}

.sub_title {
	// align-self:flex-end;
	color: $dark;
	margin: 0 auto;
	letter-spacing: 5px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.2rem;
	// align-self: flex-start;
}

.pipe {
	color: $light;
}